*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #ffffff;
	font-family: 'Verdana', sans-serif;
}

a, a:hover, a:focus{
	text-decoration: none;
}

.img-resp{
	max-width: 100%;
	height: auto;
}

.container{
	width: 1090px;
	max-width: 100%;
	margin: 0 auto;
}

.section-main{
	width: 100%;
	float: left;
}

header{
	background-color: #d93732;
	padding: 32px 0 15px;
}

header .logo{
	width: 465px;
	max-width: 100%;
	margin: 0 auto;
}

header .logo .img-resp{
	margin-bottom: 10px;
}

header .menu{
	position: relative;
	text-align: center;
}

header .menu li{
	display: inline-block;
	margin: 10px 20px;

}
header .menu li a{
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 0 20px;
}

header .menu .link-sub:hover .submenu{
	opacity: 1 !important;
	visibility: visible;
	height: auto;
}

header .menu .submenu{
	width: 200px;
	height: 0;
	visibility: hidden;
	position: absolute;
	z-index: 9;
	margin-top: 15px;
	background-color: #e94347;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	opacity: 0;
	transition: opacity 0.2s ease;
}

header .menu .submenu li{
	display: block;
	text-align: left;
	margin: 0;
	padding: 0 20px;
	transition: background-color 0.2s ease;
}

header .menu .submenu li:hover{
	background-color: #f17578;
}

header .menu .submenu li:after{
	content: "";
	background-color: #ffffff;
	width:138px;
	height: 1px;
	margin: 0 auto;
	display: block;
}

header .menu .submenu li:last-child:after{
	display: none;
}

header .menu .submenu li a{
	text-transform: none;
	padding: 14px 0 12px;
	display: block;
}

/* slide */
.slide-home .trs {
	-webkit-transition:all ease-out 0.5s;
    -moz-transition:all ease-out 0.5s;
    -o-transition:all ease-out 0.5s;
    -ms-transition:all ease-out 0.5s;
    transition:all ease-out 0.5s;
}	
.slide-home #slider {
	position: relative; 
	z-index: 1;
}
.slide-home #slider a { 
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0;
	filter:alpha(opacity=0);
}
.slide-home .ativo {
	opacity: 1!important; 
	filter:alpha(opacity=100)!important;
}
 
/*controladores*/
.slide-home span {
	background: url('../img/big-arrows.png') no-repeat;
	cursor: pointer; 
	position: absolute; 
	bottom: 40%; 
	width: 22px; 
	height: 99px; 
	z-index: 5;
}
.slide-home .next {
	right: 110px;
	background-position: -22px 0;
}
.slide-home .prev {
	left: 110px;
}
 
.slide-home figure:hover span {
	opacity: 0.76;
	filter:alpha(opacity=76);
}
.slide-home figure {
	max-width: 1500px;
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

/* Editorias */
.content-editorias{
	padding-bottom: 70px;
}

.content-editorias .header-editorias{
	width: 100%;
	float: left;
	margin: 85px 0 20px; 
}

.content-editorias .header-editorias .title{
	width: 50%;
	height: 32px;
	float: left;
}

.content-editorias .header-editorias .title h1{
	text-transform: uppercase;
	color: #2c3339;
	font-size: 22px;
	padding: 2px 0;
}

.content-editorias .header-editorias .search{
	width: 50%;
	float: left;
}

.content-editorias .header-editorias .search .search-date{
	float: left;
	width: 230px;
	margin-left: 20px;
}

.content-editorias .header-editorias .search p{
	color: #7d7575;
	font-size: 15px;
	padding: 6px 0 4px;
}

.content-editorias .header-editorias .search .name-label{
	float: left;
	margin: 0 5px 0 4px;
}

.content-editorias .header-editorias .search .search-editorias{
	float: left;
	width: 256px;
	margin-left: 39px;
}

.content-editorias .header-editorias .search .search-editorias .name-label{
	float: left;
}

.content-editorias .header-editorias .search .search-select .select{
	height: 32px;
	background-color: transparent;
	font-size: 17px;
	font-weight: bold;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
	padding: 0 50px 0 20px;
	cursor: pointer;
}

.content-editorias .header-editorias .search .search-select label{
	position: relative;
	float: left;
	display: block;
	background: url('../img/btn-select-bottom.png') #e94347 right no-repeat;
	width: 121px;
	height: 32px;
	overflow: hidden;
}

.content-editorias .header-editorias .search .search-editorias .search-select label{
	width: 168px;
}

.content-editorias .header-editorias .search .search-date .search-select .select {
	width: 138px;
}

.content-editorias .header-editorias .search .search-editorias .search-select .select {
	width: 188px;
}

.content-editorias .list-notices li{
	width: 100%;
	height: 163px;
	background-color: #d93732;
	float: left;
	display: block;
	font-size: 18px;
	margin-bottom: 50px;
}

.content-editorias .list-notices li a{
	color: #ffffff;
}

.content-editorias .list-notices li div{
	float: left;
}

.content-editorias .list-notices .image{
	width: 277px;
}

.content-editorias .list-notices .text{
	width: 630px;
	height: 55px;
	overflow: hidden;
	padding: 20px 70px 50px 40px;
}

.content-editorias .list-notices .text h1{
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.content-editorias .list-notices .btn{
	width: 73px;
	height: 163px;
	background-color: #e94347;
}

.content-editorias .list-notices .btn .arrow{
	background: url('../img/big-arrows.png')  no-repeat;
	background-position: -22px 0;
	width: 22px;
	height: 88px;
	display: block;
	margin: 38px auto;
}

.content-editorias .content-chart{
	width: 630px;
	float: left;
	position: relative;
}

.content-editorias .content-chart:after{
	content: '';
	display: block;
	width: 1px;
	height: 180px;
	background-color: #9d9797;
	top: 0;
	right: 45px;
	position: absolute;
}

.content-editorias .content-chart .chart{
	width: 100%;
}

.content-editorias .content-text{
	width: 460px;
	float: left;
	color: #9d9797;
	font-size: 18px;
	line-height: 20px;
	padding: 10px 0;
}

/* mapa */
.content-map #map{
	width: 100%;
	height: 450px;
}

/* contact */
.content-contact{
	background-color: #d93732;
	color: #ffffff;
	padding: 65px 0 60px;
}

.content-contact .container{
	width: 1170px;
}

.content-contact .form-contact{
	width: 503px;
	position: relative;
	float: left;
	padding-left: 95px;
}

.content-contact .form-contact:after{
	content: "";
	display: block;
	width: 2px;
	height: 458px;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	top: 0;
}

.content-contact .form-contact h1{
	text-transform: uppercase;
	font-size: 22px;
	margin-bottom: 20px;
}

.content-contact .form-contact form{
	width: 403px;
}

.content-contact .form-contact form label{
	width: 100%;
	font-size: 18px;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 7px;
}

.content-contact .form-contact .form-input{
	width: 100%;
	height: 51px;
	border: none;
	margin-bottom: 10px;
}

.content-contact .form-contact textarea.form-input{
	height: 140px;
}

.content-contact .form-contact .btn{
	background-color: #e94347;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	padding: 14px 32px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	margin: 15px 0;
}

.content-contact .content-infos{
	width: 487px;
	float: left;
	padding: 145px 0 0 85px;
}

.content-contact .content-infos .group-info{
	margin-bottom: 25px;
}

.content-contact .content-infos .group-info p{
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}

footer{
	background-color: #e94347;
	padding: 27px 0;
}

footer p{
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
}